<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
    <h1>Welcome to the Game!</h1>
    <a href="{{ url_for('views.new_game') }}">New Game</a>
    <br>
    <a href="{{ url_for('views.home') }}">Continue</a>
    <br>
    <a href="{{ url_for('views.home') }}">Leaderboard</a>
    <br>
    <a href="{{ url_for('views.home') }}">Quit Game</a>
</body>
</html>
