<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Journey</title>
</head>
<body>
    <p>Debt: ${{ game.debt }}</p>
    <p>Debt Money: ${{ game.debt_money }}</p>
    <p>Education: {{ game.education }}</p>
    <p>Health: {{ game.health }}</p>
    <p>Happiness: {{ game.happiness }}</p>
    <h1>SCENE 1-B</h1>
    <p>You receive a one-time job offer near your school that pays ₱5,000 but requires 5 hours of work.</p>
    
    <p>In the dim glow of a flickering streetlight, a big figure hands you a sealed envelope.
         "A single task, five hours of your time, and ₱5,000 will be yours.
          No questions, no second chances.
           The choice is yours, but be warned: once you accept, there's no turning back."</p>

    <form method="POST" action="{{ url_for('index.scenarioAB') }}">
        {{ form.hidden_tag() }}
        <div>
            {% for radio in form.choice%}
                <label>
                    <button type="radio" name="{{ form.choice.name }}" value="{{ radio.data }}">
                    {{ radio.label.text }}
                </label>
            </button>
            {% endfor %}
        </div>
    </form>
</body>
</html>