<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Journey</title>
</head>
<body>
    <p>Debt: ${{ game.debt }}</p>
    <p>Debt Money: ${{ game.debt_money }}</p>
    <p>Education: {{ game.education }}</p>
    <p>Health: {{ game.health }}</p>
    <p>Happiness: {{ game.happiness }}</p>
    <h1>SCENE 2-C</h1>
    <p>There's a major networking event, and attendance could lead to potential job opportunities. </p>
    
    <p>
        "A major networking event looms ahead, a critical stage where attendance isn't just an option,
        it's the gateway to potential job opportunities that could shape your career. However, the cost 
        will hunt you."
        </p>

    <form method="POST" action="{{ url_for('index.scenarios', scenario_key = 'BC') }}">
        {{ form.hidden_tag() }}
        <div>
            {% for radio in form.choice%}
                <label>
                    <button type="radio" name="{{ form.choice.name }}" value="{{ radio.data }}">
                    {{ radio.label.text }}
                </label>
            </button>
            {% endfor %}
        </div>
    </form>
</body>
</html>
