<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Journey</title>
</head>
<body>
    <p>Debt: ${{ game.debt }}</p>
    <p>Debt Money: ${{ game.debt_money }}</p>
    <p>Education: {{ game.education }}</p>
    <p>Health: {{ game.health }}</p>
    <p>Happiness: {{ game.happiness }}</p>
    <h1>SCENE 1-D</h1>
    <p>It's vacation time, and you have the opportunity to work part-time or join a workshop for your chosen program.</p>
    
    <p>As the clock ticks away your precious vacation hours, a shadow whispers in the corners of your mind: 
    “The choice is yours, but remember, some opportunities come with a cost, and the workshop might demand more 
    than just your time."  </p>

    <form method="POST" action="{{ url_for('index.scenarioAD') }}">
        {{ form.hidden_tag() }}
        <div>
            {% for radio in form.choice%}
                <label>
                    <button type="radio" name="{{ form.choice.name }}" value="{{ radio.data }}">
                    {{ radio.label.text }}
                </label>
            </button>
            {% endfor %}
        </div>
    </form>
</body>
</html>