<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Journey</title>
</head>
<body>
    <p>Debt: ${{ game.debt }}</p>
    <p>Debt Money: ${{ game.debt_money }}</p>
    <p>Education: {{ game.education }}</p>
    <p>Health: {{ game.health }}</p>
    <p>Happiness: {{ game.happiness }}</p>
    <h1>SCENE 4-C</h1>
    <p>You come across a specialized certification course relevant to your field 
        that could enhance your skills and marketability. However, it comes with a hefty price tag. 
    </p>
    
    <p>
        "Consider this certification not just an opportunity but a decree. Embrace it, or risk fading 
        into the shadows of regrets and failure, a choice with consequences you dare not defy."
        </p>

    <form method="POST" action="{{ url_for('index.scenarios', scenario_key = 'DD') }}">
        {{ form.hidden_tag() }}
        <div>
            {% for radio in form.choice%}
                <label>
                    <button type="radio" name="{{ form.choice.name }}" value="{{ radio.data }}">
                    {{ radio.label.text }}
                </label>
            </button>
            {% endfor %}
        </div>
    </form>
</body>
</html>
