<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Journey</title>
</head>
<body>
    <p>Debt: ${{ game.debt }}</p>
    <p>Debt Money: ${{ game.debt_money }}</p>
    <p>Education: {{ game.education }}</p>
    <p>Health: {{ game.health }}</p>
    <p>Happiness: {{ game.happiness }}</p>
    <h1>SCENE 4-D</h1>
    <p>The culmination of your hard work has arrived. 
        What attire do you plan to wear on this momentous occasion?

    </p>
    
    <p>
        "The big day's here. Do you want to own the moment with a 
        brand-new graduation set, or keep it practical and rent one for the day?"
        </p>

    <form method="POST" action="{{ url_for('index.scenarios', scenario_key = 'NA') }}">
        {{ form.hidden_tag() }}
        <div>
            {% for radio in form.choice%}
                <label>
                    <button type="radio" name="{{ form.choice.name }}" value="{{ radio.data }}">
                    {{ radio.label.text }}
                </label>
            </button>
            {% endfor %}
        </div>
    </form>
</body>
</html>
